<div class="container">
    <div class="alert alert-info">
        <h1 class="text-danger">Error.</h1>
        <h2>@ViewBag.ErrStr</h2>
    </div>
    <a class="btn btn-info" href="@ViewBag.Back">Quay lại</a>
</div>